<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/new">
        <h1><%= title %></h1>
        <label> Author: </label>
        <input type='text' name='author'> <br>
        <label> Message: </label>
        <input type='text' name='usertext'> <br>
        <input type="submit" value="Submit">
    
    </form>

  </body>
</html>
